.ngrx-user {
    font-size: 32px;
    color: green;
    margin-left: 8px
}

.normal-user {
    font-size: 32px;
    color: red;
    margin-left: 8px
}

.hr {
    margin-bottom: 32px;
    margin-top: 32px;
}